/* Display entire image */
@media only screen 
and (min-width : 1280px) {
	.homer {
		width: 600px;
		height: 600px;
		background: url('homer.jpg') 0 0px;
	}
}

/* Display upper left picture */
@media only screen 
and (min-width : 1024px) 
and (max-width : 1280px) {
	.homer {
		width: 300px;
		height: 300px;
		background: url('homer.jpg') 0 0px;
	}
}

/* Display upper right picture */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
	.homer {
		width: 300px;
		height: 300px;
		background: url('homer.jpg') 300px 0px;
	}
}

/* Display bottom left picture */
@media only screen 
and (min-width : 480px) 
and (max-width : 768px) {
	.homer {
		width: 300px;
		height: 300px;
		background: url('homer.jpg') 0 -300px;
	}
}

/* Display bottom right picture */
@media only screen 
and (max-width : 480px) {
	.homer {
		width: 300px;
		height: 300px;
		background: url('homer.jpg') 300px -300px;
	}
}